.home-page {
  &__title {
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  &__products {
    display: flex;
    flex-direction: wrap;
    gap: 10px;

    a {
      text-decoration: none;
      color: inherit;

    }
  }

  /* The animation code */
  @keyframes example {
    from {
      background-color: rgb(22, 17, 17);
    }

    to {
      background-color: rgb(148, 209, 239);
    }
  }

  /* The element to apply the animation to */
  &__title {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: example 400ms alternate infinite;
  }

}

/* Default styles for light mode */
body {
  background-color: lightblue;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 20px;
}

/* Default styles for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}