.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.appLogo {
  height:60px;
  width:100px;
  position: fixed;
  display: block;
  background-color: lightblue;
  //padding-left: 20px;

}

.signUp_button, .login_button { 
  background-color: aqua; /* Green */
  color: black;
  padding: 4px;
  border-radius: 2px;
  border-color: black;
}
